<h1>Pork enjoyer tool</h1>
<a href="https://www.youtube.com/watch?v=BUdyHsmOQfc&ab_channel=JohnSmith"
  >How to use</a
>
<div>X coordinate here</div>
<input #x (keyup)="(0)" />
<div>Y coordinate here</div>
<input #y (keyup)="(0)" />
<div>enter steppes upgrade lvl here</div>
<input #steppesLvl (keyup)="(0)" />
<div>min steppes</div>
<input #min (keyup)="(0)" />
<div>max steppes</div>
<input #max (keyup)="(0)" />
<div>max loss percentage</div>
<input #maxLoss (keyup)="(0)" />
<p>Enter Oasis data here</p>
<input #oases />

<button
  type="button"
  (click)="
    calc(
      oases.value,
      x.value,
      y.value,
      steppesLvl.value,
      min.value,
      max.value,
      maxLoss.value
    )
  "
>
  Calculate
</button>
<button type="button" (click)="oases.value = ''">Clear</button>

<div
  style="
    position: sticky;
    top: 0;
    padding: 5px;
    width: 400px;
    background-color: #cae8ca;
    border: 2px solid #4caf50;
  "
>
  You have clicked on links totaling {{ this.totalClicked }} units
</div>

<div *ngIf="this.hits">
  <div>Best oases are:</div>
  <!-- <div style="width: 500px; white-space: pre-line">{{ this.hits }}</div> -->
</div>
<table
  mat-table
  [dataSource]="this.dataSource"
  matSort
  matSortActive="value"
  class="mat-elevation-z8"
>
  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      Value
    </th>
    <td mat-cell *matCellDef="let element">{{ element.value }}</td>
  </ng-container>

  <!-- totalRes Column -->
  <ng-container matColumnDef="totalRes">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      total res
    </th>
    <td mat-cell *matCellDef="let element">{{ element.totalRes }}</td>
  </ng-container>

  <!-- distance Column -->
  <ng-container matColumnDef="distance">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      distance
    </th>
    <td mat-cell *matCellDef="let element">{{ element.distance }}</td>
  </ng-container>

  <!-- animals Column -->
  <ng-container matColumnDef="animals">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      animals
    </th>
    <td mat-cell *matCellDef="let element">{{ element.animals }}</td>
  </ng-container>

  <!-- resInOasis Column -->
  <ng-container matColumnDef="resInOasis">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      res in oasis
    </th>
    <td mat-cell *matCellDef="let element">{{ element.resInOasis }}</td>
  </ng-container>

  <!-- link Column -->
  <ng-container matColumnDef="link">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      link
    </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.link">link</a>
    </td>
  </ng-container>

  <!-- marksNeeded Column -->
  <ng-container matColumnDef="marksNeeded">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      marks needed
    </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.marksLink">{{ element.marksNeeded }}</a>
    </td>
  </ng-container>

  <!-- steppesNeeded Column -->
  <ng-container matColumnDef="steppesNeeded">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      steppes needed
    </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.steppesLink">{{ element.steppesNeeded }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="suggestedSim">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      suggested steppes number
    </th>
    <td mat-cell *matCellDef="let element">
      <a
        [href]="element.suggestedSim.link"
        (click)="this.addToTotal(element.suggestedSim.number)"
        >{{ element.suggestedSim.number }},
        {{ (element.suggestedSim.percent * 100).toFixed(0) }}%</a
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="suggestedRainbow">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      suggested rainbow number
    </th>
    <td mat-cell *matCellDef="let element">
      <a
        [href]="element.suggestedRainbow.link"
        (click)="this.addToTotal(element.suggestedRainbow.number)"
        >{{ element.suggestedRainbow.number }},
        {{ (element.suggestedRainbow.percent * 100).toFixed(0) }}%</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
